/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}
/* Style */
body{
    height: 100%;
}
.whale-section{
    background-color: var(--dark-blue);
    width: 100%;
    height: 1000px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    font-family: 'Manrope', sans-serif;
}

.content{
    position: relative;
    margin: 0 auto;
    top: 35%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__wrap{
    background-color: var(--dark-grayish-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; 
    border-radius: 8px;
}

.content__id{
    padding: 1rem;
    color: var(--neon-green);
    font-size: 13px;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.number{
    font-size: 12px;
}

.content__advice{
    color: var(--light-cyan);
    padding: 0 1rem 1rem 1rem;
    text-align: center;
    line-height: 1.5rem;
}

.desktop{
    display: none;
}

.mobile{
    padding: 0.5rem 1rem 2rem 1.35rem;
    width: 98%;
}

.content__next{
    margin-top: -1.6rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--neon-green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.content__next:hover{
    box-shadow: 0px 3px 20px  var(--neon-green);
}

@media (min-width: 480px){
    .content__wrap{
        width: 70%;
        padding: 2rem;
    }

    .content__advice{
        width: 80%;
    }
    .mobile{
        padding: 1rem 0 1rem 0;
        width: 100%;
    }
}

@media (min-width: 768px){
    .content__wrap{
        width: 70%;
        padding: 2rem;
    }

    .content__advice{
        width: 85%;
    }

    .desktop{
        display: block;
        padding: 1rem 0 2rem 0;
    }

    .mobile{
        display: none;
    }
}

@media (min-width: 1200px){
    .content__wrap{
        width: 40%;
        padding: 2rem;
    }

    .content__advice{
        width: 85%;
    }

    .desktop{
        display: block;
        padding: 2rem 0 3rem 0;
    }

    .mobile{
        display: none;
    }
}